<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442416405550-q48is7ee4db0u1kfpnk2klonarok5em9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442416405550-q48is7ee4db0u1kfpnk2klonarok5em9</string>
	<key>API_KEY</key>
	<string>AIzaSyDTiBgUusYd06imFFvqTPlVaVF3RW6Vwu8</string>
	<key>GCM_SENDER_ID</key>
	<string>442416405550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thuri.Lesaforrit</string>
	<key>PROJECT_ID</key>
	<string>lesaforrit-b0c23</string>
	<key>STORAGE_BUCKET</key>
	<string>lesaforrit-b0c23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442416405550:ios:56ba7e2cf981724803d3bf</string>
	<key>DATABASE_URL</key>
	<string>https://lesaforrit-b0c23.firebaseio.com</string>
</dict>
</plist>